{{#with randomBeer.[0]}}
{{>beerpartial}}
<strong>Food Pairing</strong>
<ul>
{{#each food_pairing}}
<li>{{this}}</li>
{{/each}}
</ul>

<strong>Brewers Tips: </strong>: <span>{{brewers_tips}}</span>


{{/with}}